
body {
  width: 200px;
  font-family: Arial, sans-serif;
  padding: 10px
}

h1{
    font-size: 20px;
    margin-bottom: 10px;
}

div{
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button{
    width: 100%;   
    background-color: #3e4042;
    border: none;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: #74C0FC;
}