body {
    width: 250px;
    font-family: 'Roboto', sans-serif;
    padding: 25px;
    background-color: #ffffff;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
    text-align: center;
    border-bottom: 2px solid #74C0FC;
    padding-bottom: 8px;
    margin-top: 0;
}

input {
    width: 80%;
    padding: 6px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

button {
    width: 100%;   
    background-color: #3e4042;
    border: none;
    cursor: pointer;
    color: white;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

button:hover {
    background-color: #74C0FC;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

#tabCount {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 10px;
    font-weight: normal;
}



.chatbot {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

#input-text {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

#response {
    margin-top: 15px;
    padding: 10px;
    background-color: #ecf0f1;
    border-radius: 5px;
    color: #2c3e50;
}

#response-history {
    margin-top: 20px;
}

#history-container {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fafafa;
    width: 100%;
    box-sizing: border-box;
}